.heading {
    margin: 50px auto;
    text-align: center;
    color: rgb(0, 119, 255);
}

.login-form{
    margin: auto 300px;
    padding: 20px;
    border: 1px solid rgb(35, 168, 230);
}

.horizontal-center{

    text-align: center;

}

.vertical-space{
    margin-top: 20px;
}

.center-text{
    text-align: center;
}

.appointment-container h3{
    margin: 50px;
}
.appointment-container{
    margin-top: 50px;
    margin-bottom: 50px;
}

.book-slot-btn a{
    color: white;
    text-decoration: none;
}
.shot_done_btn{
    background-color: skyblue;
}

.sort-icon{
    height: 17px;
}