{% extends 'base.html' %}
{% block title %} Center Dashboard {% endblock title %}

{% block body %}

<div class="container profile-container">
    <h1 class="center-text heading">Center Dashboard</h1>
    <form class="row g-3 " >

        {% if center %}
        {% set center_id=center.center_id %}
        {% set center_name=center.center_name %}
        {% set vaccine_type=center.vaccine_type %}
        {% set type=center.type %}
        {% set capacity=center.capacity%}
        {% set allocated_slots=center.allocated_slots%}
        {% set available_slots=center.available_slots%}
        {% set allocated_slots=center.allocated_slots%}
        
        {% else %}
        {% set center_id=NA %}
        {% set center_name=NA %}
        {% set vaccine_type=NA %}
        {% set type=NA %}
        {% set capacity=NA %}
        {% set allocated_slots= NA %}
        {% set available_slots= NA %}
        {% set allocated_slots= NA %}

        {% endif %}

        <div class="col-md-4">
            <label for="center_id" class="form-label">Center Id</label>
            <input type="number" class="form-control" id="center_id" value={{center_id}} disabled>
        </div>
        <div class="col-md-8">
            <label for="center_name" class="form-label">Center Name</label>
            <input type="text" class="form-control" id="name" name="center_name" value={{center_name}} disabled>
        </div>
        <div class="col-md-4">
            <label for="vaccine_type" class="form-label">vaccine_type</label>
            <input type="text" class="form-control" id="vaccine_type" value={{vaccine_type}} disabled>
        </div>
        <div class="col-md-4">
            <label for="type" class="form-label">type</label>
            <input type="text" class="form-control" id="vaccine_type" value={{type}} disabled>
        </div>
        <div class="col-md-4">
            <label for="capacity" class="form-label">capacity</label>
            <input type="number" class="form-control" id="capacity" value="{{capacity}}" disabled>
        </div>
        <div class="col-md-4">
            <label for="allocated_slots" class="form-label">allocated_slots</label>
            <input type="number" class="form-control" id="allocated_slots" value="{{allocated_slots}}" disabled>
        </div>
        <div class="col-md-4">
            <label for="available_slots" class="form-label">available_slots</label>
            <input type="number" class="form-control" id="available_slots" value="{{available_slots}}" disabled>
        </div>
    </form>

    <div class="container my-4">
        <h2 class="center-text heading">Appointments</h2>
        <div>

          {% if request.args.get('show') %}
            {% set show_data=request.args.get('show') %}
            {% if show_data=='done' %}
              {% set is_done_selected='selected' %}
            {% elif show_data=='pending'%}
              {% set is_pending_selected='selected' %}
            {% else %}
            {% set is_all_selected='selected' %}
            {% endif %}
          {% else %}
          {% set show_data='all' %}
          {% endif %}
        
        <form action="">
          <label for="show">Show:</label>
          <select name="show" id="show">
            <option value="all" {{is_all_selected}}>All</option>
            <option value="pending" {{is_pending_selected}}>Only Pending</option>
            <option value="done" {{is_done_selected}}>Only Done</option>
          </select>
          <input type="submit" value="Show">
        </form>
          

        </div>
        <div>
          
            {% if request.args.get('start_date') %}
              {% set start_date=request.args.get('start_date') %}
              {% set end_date=request.args.get('end_date') %}
            {% endif %} 
              <form action="" method="GET">
                Filter: 
                Start Date:
                <input type="date" name="start_date" id="start_date" value="{{start_date}}" required>
                End Date:
                <input type="date" name="end_date" id="end_date" value="{{end_date}}" required>
                {% if request.args.get('start_date') %}
              </form>
                <a href="{{url_for('center_dashboard')}}"><button class="btn btn-primary "> Cancle</button></a>
              
                {% else %}
                <input type="hidden" value="{{show_data}}" name="show">
                <button type="submit" class="btn btn-primary">Apply</button>
              </form>
                {% endif %} 

        </div>
          {% if not data %}
          <div class="alert alert-warning" role="alert">
            No Appointments... 
          </div>
          {% else %}
      
      <table class="table table-light table-striped">
        <thead>
            <tr>
              <th scope="col">SN</th>
              <th scope="col">Appointment Id</th>
              <th scope="col">Beneficiary Id </th>
              <th scope="col">Aadhar No</th>
              <th scope="col">Name</th>
              <th scope="col">Mobile No</th>
              <th scope="col">appointment_date
                {% if request.args.get('order') and request.args.get('sort_by')=='appointment_date' %}
                {% set sort_by=request.args.get('sort_by') %}
                {% set order=request.args.get('order') %}
                    {% if request.args.get('order')=='asc' %}
                      <a href="{{ url_for('center_dashboard',show=show_data,sort_by='appointment_date',order='desc') }}" >
                        <img class="sort-icon" src="{{ url_for('static',filename='images/d_arrow.png') }}" alt="">
                      </a>
                    {% else %}
                    <a href="{{ url_for('center_dashboard',show=show_data,sort_by='appointment_date',order='asc') }}" >
                      <img class="sort-icon" src="{{ url_for('static',filename='images/u_arrow.png') }}" alt="">
                    </a>   
                    {% endif %}
                {% else %}
                  <a href="{{ url_for('center_dashboard',show=show_data,sort_by='appointment_date',order='desc') }}" >
                    <img class="sort-icon" src="{{ url_for('static',filename='images/sort.png') }}" alt="">
                  </a>
                {% endif %}
              </th>
              <th scope="col">Status
                {% if request.args.get('order') and request.args.get('sort_by')=='status' %}
                    {% if request.args.get('order')=='asc' %}
                      <a href="{{ url_for('center_dashboard',show=show_data,sort_by='status',order='desc') }}" >
                        <img class="sort-icon" src="{{ url_for('static',filename='images/d_arrow.png') }}" alt="">
                      </a>
                    {% else %}
                    <a href="{{ url_for('center_dashboard',show=show_data,sort_by='status',order='asc') }}" >
                      <img class="sort-icon" src="{{ url_for('static',filename='images/u_arrow.png') }}" alt="">
                    </a>   
                    {% endif %}
                {% else %}
                  <a href="{{ url_for('center_dashboard',show=show_data,sort_by='status',order='desc') }}" >
                    <img class="sort-icon" src="{{ url_for('static',filename='images/sort.png') }}" alt="">
                  </a>
                {% endif %}
              </th>
              <th scope="col">Action</th>
              
            </tr>
          </thead>
          <tbody>
            {% for d in data.items %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{d.booking_id}}</td>
                <td>{{d.id}}</td>
                <td>{{d.aadhar_no}}</td>
                <td>{{d.first_name}}</td>
                <td>{{d.mobile_no}}</td>
                {% set date = d.appointment_date %}
                <td>{{date}}</td>
                <td>{{d.status}}</td>
                <td>
                  {% if not d.status == "Done" %}
                  <a href="/shot_done/{{d.id}}" class="btn btn-dark btn-sm shot_done_btn">Mark Done</a>
                  {% endif  %}     
              </tr>
              {% endfor %}           
          </tbody>
      </table>

      {% set sort_by=request.args.get('sort_by',None) %}
      {% set order=request.args.get('order',None) %}
      {% set start_date=request.args.get('start_date',None) %}
      {% set end_date=request.args.get('end_date',None) %}
        {% for page_num in data.iter_pages(left_edge=1,right_edge=1,left_current=1,right_current=2) %}
            {% if page_num %}
              {% if data.page == page_num %}
                <a class="btn btn-info mb-4" href="{{url_for('center_dashboard',show=show_data,sort_by=sort_by,page=page_num)}}">{{page_num}}</a>
              {% else %}
                <a class="btn btn-outline-info mb-4" href="{{url_for('center_dashboard',show=show_data,sort_by=sort_by,order=order,start_date=start_date,end_date=end_date,page=page_num)}}">{{page_num}}</a>
              {% endif %}
            {% else %}
              ...
            {% endif %}
        {% endfor %}
      {% endif %}
    </div>
</div>

{% endblock body %} 