{% extends 'base.html' %}
{% block title %} Center Dashboard {% endblock title %}

{% block body %}

<div class="container profile-container">
    <h1 class="center-text heading">Center Dashboard</h1>
    <form class="row g-3 " >
        {% if center %}
        {% set center_id=center.center_id %}
        {% set center_name=center.center_name %}
        {% set vaccine_type=center.vaccine_type %}
        {% set type=center.type %}
        {% set capacity=center.capacity%}
        {% set allocated_slots=center.allocated_slots%}
        {% set available_slots=center.available_slots%}
        {% set allocated_slots=center.allocated_slots%}
        
        {% else %}
        {% set center_id=NA %}
        {% set center_name=NA %}
        {% set vaccine_type=NA %}
        {% set type=NA %}
        {% set capacity=NA %}
        {% set allocated_slots= NA %}
        {% set available_slots= NA %}
        {% set allocated_slots= NA %}

        {% endif %}

        <div class="col-md-4">
            <label for="center_id" class="form-label">Center Id</label>
            <input type="number" class="form-control" id="center_id" value={{center_id}} disabled>
        </div>
        <div class="col-md-8">
            <label for="center_name" class="form-label">Center Name</label>
            <input type="text" class="form-control" id="name" name="center_name" value={{center_name}} disabled>
        </div>
        <div class="col-md-4">
            <label for="vaccine_type" class="form-label">vaccine_type</label>
            <input type="text" class="form-control" id="vaccine_type" value={{vaccine_type}} disabled>
        </div>
        <div class="col-md-4">
            <label for="type" class="form-label">type</label>
            <input type="text" class="form-control" id="vaccine_type" value={{type}} disabled>
        </div>
        <div class="col-md-4">
            <label for="capacity" class="form-label">capacity</label>
            <input type="number" class="form-control" id="capacity" value="{{capacity}}" disabled>
        </div>
        <div class="col-md-4">
            <label for="allocated_slots" class="form-label">allocated_slots</label>
            <input type="number" class="form-control" id="allocated_slots" value="{{allocated_slots}}" disabled>
        </div>
        <div class="col-md-4">
            <label for="available_slots" class="form-label">available_slots</label>
            <input type="number" class="form-control" id="available_slots" value="{{available_slots}}" disabled>
        </div>
    </form>

    <div class="container my-4">
        <h2 class="center-text heading">Appointments</h2>
          {% if data|length ==0 %}
          <div class="alert alert-warning" role="alert">
            No Appointments... 
          </div>
          {% else %}
      <table class="table table-light table-striped">
        <thead>
            <tr>
              <th scope="col">SN</th>
              <th scope="col">Appointment Id</th>
              <th scope="col">Beneficiary Id </th>
              <th scope="col">Aadhar No</th>
              <th scope="col">Name</th>
              <th scope="col">Mobile No</th>
              <th scope="col">booking_date</th>
              <th scope="col">appointment_date</th>
              <th scope="col">Action</th>
              
            </tr>
          </thead>
          <tbody>
            {% for d in data %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{d.booking_id}}</td>
                <td>{{d.user_id}}</td>
                <td>{{d.aadhar_no}}</td>
                <td>{{d.first_name}}</td>
                <td>{{d.mobile_no}}</td>
                <td>{{d.booking_date}}</td>
                {% set date = d.appointment_date %}
                <td>{{date}}</td>
                <td><a href="/shot_done/{{d.user_id}}" class="btn btn-dark btn-sm shot_done_btn">Mark Done</a>     
              </tr>
              {% endfor %}           
          </tbody>
      </table>
      {% endif %}
    </div>
</div>

{% endblock body %} 