{% extends 'base.html' %}
   {% block title %} Signup {% endblock title %}

   {% block body %}
    <div class="container">
        <div class="heading">
            <h2>Signup</h2>
        </div>
        <form class="login-form" action="signup" method="post">
            <div class="mb-3">
                <label for="fname" class="form-label">First name</label>
                <input name="fname" type="text" class="form-control" id="fname" required> 
            </div>
            <div class="mb-3">
                <label for="lname" class="form-label">Last name</label>
                <input name="lname" type="text" class="form-control" id="lname" required> 
            </div>
            <div class="mb-3">
                <label for="mobile" class="form-label">Mobile number</label>
                <input name="mobile_no" type="number" class="form-control" id="mobile" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">email</label>
                <input name="email" type="email" class="form-control" id="email" required>
            </div>
            <div class="mb-3">
                <label for="aadhar_no" class="form-label">Aadhar Card No.</label>
                <input name="aadhar_no" type="number" class="form-control" id="aadhar_no" required> 
            </div>
            <div class="mb-3">
                <label for="birth-year" class="form-label">Birth Year</label>
                <input name="birth-year" type="number" class="form-control" id="birth-year" required>
            </div>
            
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" type="password" class="form-control" id="password" required>
            </div>
            
            <div class="horizontal-center vertical-space submit-btn">
                <button type="submit" class="btn btn-primary ">Submit</button>
            </div>
            
        </form>
    </div>

    {% endblock body %}