{% extends 'base.html' %}
    {% block title %} Staff Login {% endblock title %}
 
    {% block body %}
    {% if msg %}
    <script>alert("{{msg}}")</script>
    {% endif%}
    <div class="container"> 
        <div class="heading">
            <h2>Staff Login</h2>
        </div>
        <form class="login-form" action="staff_login" method="post">
            <input name="category" value="staff" hidden>
            <div class="mb-3">
                <label for="staff_id" class="form-label">Staff Id</label>
                <input name="staff_id" type="number" class="form-control" id="staff_id" >   
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" type="password" class="form-control" id="password">
            </div>
            <div class="horizontal-center vertical-space submit-btn">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>    
        </form>
    </div>
    {% endblock body %}