{% extends 'base.html' %}
{% block title %} Home {% endblock title %}

{% block body %}

<div class="container profile-container">
    <h1 class="center-text heading">My Profile</h1>
    <form class="row g-3 " >
      <h3 class="horizontal-space">Beneficiary Details</h3>
        <div class="col-md-8">
            <label for="name" class="form-label">Name</label>
            {% set name = user_profile_data.first_name ~'-'~ user_profile_data.last_name%}
            <input type="text" class="form-control" id="name" name="name" value={{name}} disabled>
        </div>
        <div class="col-md-4">
          <label for="name" class="form-label">Beneficiary Id</label>
          <input type="text" class="form-control" id="name" name="name" value={{user_profile_data.id}} disabled>
      </div>
        <div class="col-md-3">
            <label for="mobile_no" class="form-label">Mobile No.</label>
            <input type="number" class="form-control" id="mobile_no" value={{user_profile_data.mobile_no}} disabled>
        </div>
        <div class="col-md-3">
            <label for="aadhar_no" class="form-label">Aadhar No.</label>
            <input type="number" class="form-control" id="aadhar_no" value="{{user_profile_data.aadhar_no}}" disabled>
        </div>
        <div class="col-md-6">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" value={{user_profile_data.email}} disabled>
        </div>

        <h3 class="vertical-space">Vaccination Details</h3>
        <div class="col-md-6">
          <label for="vacc_status" class="form-label">Vaccine status</label>
          {% if user_profile_data.dose==0 %}
          {% set status = 'nonvanccinated' %}
          {% elif user_profile_data.dose==1 %}
          {% set status = 'Partial' %}
          {% else %}
          {% set status = 'Complete' %}
          {% endif %}

          {% if user_vaccination_data %}
            {% set dose1 = user_vaccination_data.d1_date %}
            {% set dose2 = user_vaccination_data.d2_date %}         
            {% set vaccine_type = user_vaccination_data.vaccine %}
          
          {% else %}
            {% set vaccine_type = "NA" %} 
            {% set dose1 = 'NA' %}
            {% set dose2 = 'NA' %} 
            {% set vaccine_type = "NA" %}
         
          {% endif %}
          
    
          <input type="text" class="form-control" id="vacc_status" value={{status}} disabled>
        </div>
        <div class="col-md-6">
            <label for="vacc_name" class="form-label">Vaccine Name</label>
            <input type="text" class="form-control" id="vacc_status" value="{{vaccine_type}}" disabled>
        </div>
        
        <div class="col-md-3">
            <label for="dose1" class="form-label">Dose 1 date</label>
            <input type="text" class="form-control" id="dose1" value="{{dose1[0:10]}}" disabled>
        </div>
        {% if does2 %}
        <div class="col-md-3">
            <label for="dose2" class="form-label">Dose 2 date</label>
            <input type="text" class="form-control" id="dose2" value="{{dose2[0:10]}}" disabled>
        </div> 
        {% endif %}
      </form>
      <div class="col-12 mt-4">
        {% if user_appo_data|length > 0 or user_profile_data.dose >= 2  %}
        {% set book_btn= 'disabled' %}
        {% else %}
        {% set book_btn=false %}
        {% endif %}
        {% if user_vaccination_data.next_does_after %}
        <div class="alert alert-warning" role="alert">
             You will able to book slot after {{user_vaccination_data.next_does_after}} days
        </div>
        {% endif %}
        <button class="btn btn-primary book-slot-btn" {{user_profile_data.book_btn}}>
            <a href="{{ url_for('book_slot') }}" >Book Slot</a>
        </button>
       </div>
</div>

<div class="container appointment-container">
    <h3 class="center-text heading">Appointment Details</h3>
    {% if user_appo_data|length == 0 %}
    <div class="alert alert-warning" role="alert">
        No Appointment Scheduled... 
      </div>
    {% else %}
    
    <form class="row g-3 " >
        <div class="col-md-3">
            <label for="appo_id" class="form-label">Appointment Id</label>
            <input type="text" class="form-control" id="appo_id" name="appo_id" value="{{user_appo_data.booking_id}}" disabled>
        </div>
        <div class="col-md-3">
            <label for="appo_date" class="form-label">Appointment Schedule date</label>
            <input type="text" class="form-control" id="appo_date" value="{{user_appo_data.appointment_date}}" disabled>
        </div>
        <div class="col-md-6">
            <label for="center_name" class="form-label">Center name</label>
            <input type="text" class="form-control" id="center_name" value="{{center_data.center_name}}" disabled>
        </div>
        <div class="col-md-3">
            <label for="dose" class="form-label">Dose</label>
            {% set dose = user_profile_data.dose+1 %}
            <input type="text" class="form-control" id="dose1" value="{{dose}}" disabled>
        </div>
        <div class="col-md-3">
            <label for="vaccine" class="form-label">Vaccine</label>
            <input type="text" class="form-control" id="vaccine" value="{{center_data.vaccine_type}}" disabled>
        </div>
        
        <div class="col-md-6">
          <label for="center_address" class="form-label">Address</label>
          {% set address = center_data.city~", "~center_data.district~", "~center_data.pin_code %}
          <input type="text" class="form-control" id="center_address" value="{{address}}" disabled>
        </div>
      </form>
      {% endif %}

</div>

{% endblock body %} 